@page "/counter"

@using crypto_sentiment.Data
@using System.Linq;
@using System.Text.Json;
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject TweetAPIService tweetAPIservice

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>Current Sentiment: @tweetData</p>

@code {
    private int currentCount = 0;

    private string tweetData;

    protected override async Task OnInitializedAsync()
    {
        tweetData = await tweetAPIservice.GetTweetSentiment("bitcoin");

    } 


}
