@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Mvc.Rendering;
@using crypto_sentiment.Data
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using crypto_sentiment.Models;
@inject CryptoDbService cryptoDbService
@inject TweetAPIService tweetAPIservice
@inject Microsoft.EntityFrameworkCore.IDbContextFactory<CryptoDbContext> contextFactory;
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <input type="text" @bind-value="@searchTerm" placeholder="Ex. Bitcoin, ETH..."/>
            <input type="button" value="Search" @onclick="() => SearchForCrypto()"/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {

    [Parameter]    
    public string searchTerm {get;set;}

    void SearchForCrypto()
    {
        NavigationManager.NavigateTo("/crypto/" + searchTerm, forceLoad: true);
        Console.WriteLine("Called func");
    }



}