@inherits LayoutComponentBase
@using crypto_sentiment.Data
@using System.Linq;
@using crypto_sentiment.Models;
@inject CryptoDbService cryptoDbService
@inject TweetAPIService tweetAPIservice
@inject Microsoft.EntityFrameworkCore.IDbContextFactory<CryptoDbContext> contextFactory;
@inject NavigationManager NavigationManager
@using Radzen


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Crypto Sentiment</a>
    <div class="collapsedSearchbar">
        <input type="text" @bind="searchTerm" placeholder="Search..">
        <input type="button" value="Search" @onclick="() => SearchForCrypto()"/>
    </div>
    
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="crypto/">
                <span class="oi oi-plus" aria-hidden="true"></span> SearchRes
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Bitcoin">
                <span class="oi oi-plus" aria-hidden="true"></span> Bitcoin
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    [Parameter]    
    public string searchTerm {get;set;}

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

     void SearchForCrypto()
    {
        NavigationManager.NavigateTo("/crypto/" + searchTerm,true);
        
        Console.WriteLine("Called func");
    }
}
